@charset "utf-8";
body {
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: aliceblue;
}

header img {
    padding-bottom: 30px;
    display:none;

}

.questionnaire {
    padding-top: 50px;
    padding-bottom: 50px;
}

.question-text {
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 350ms;
}

.question-text.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
